@media (min-width: 1921px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1800px) {
  .about__left {
    flex-basis: 62%;
    margin-right: 10px;
  }

  .about__list {
    flex-basis: 38%;
  }

  .about__item {
    flex-direction: column;
  }

  .about__icon {
    margin-bottom: 15px;
  }

  .form {
    padding-left: 20px;
  }
}

@media(max-width: 1400px) {
  .container {
    padding-left: 49px;
    padding-right: 50px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__left {
    margin-right: 0;
  }

  .about__item {
    flex-direction: row;
  }

  .about__text,
  .about-text__descr {
    max-width: 92%;
  }

  .footer__right {
    padding-left: 10px;
  }

  .footer-logo__img {
    margin-right: 11px;
  }

  .form {
    max-width: 550px;
    padding-left: 5px;
  }

  .form__title {
    margin-bottom: 1.14rem;
  }

  .form__textarea {
    width: 540px;
  }

  .form__btn {
    padding: 20px 37px 17px;
  }
}

@media (max-width: 1280px) {
  .header__logo {
    margin-right: 35px;
  }

  .nav__item {
    margin-right: 45px;
  }

  .form {
    padding-left: 20px;
    margin-right: 0;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header__content {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .header__nav-toggle,
  .header__right {
    display: block;
  }

  .header__right {
    margin-top: 1px;
  }

  .header__logo {
    min-width: 154px;
    margin: 0;
  }

  .logo__img {
    margin-right: 6px;
  }

  .header__nav {
    display: none;
  }

  /* hero */
  .hero__container {
    margin-bottom: 82px;
  }

  .hero__banner {
    padding: 163px 78px;
    padding-top: 164px;
    padding-bottom: 161px;
    background-image: url(../img/hero-1-1024.jpg);
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 15px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01rem;
    max-width: 660px;
    margin-bottom: 58px;
  }

  /* about */
  .about__container {
    margin-bottom: 84px;
  }

  .about__title {
    margin-bottom: 0.4rem;
  }

  .about__descr {
    margin-bottom: 62px;
  }

  .about__left {
    background-image: url(../img/about-1024.jpg);
    min-height: 640px;
    margin-bottom: 32px;
  }

  .about__item {
    padding-left: 77px;
    padding-bottom: 49px;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 84px;
  }

  .tabs {
    margin-bottom: 52px;
  }

  .tab-content__left {
    flex-basis: 47.05%;
  }

  .tab__descr {
    letter-spacing: 0.002rem;
    margin-bottom: 23px;
  }

  .tab-content__image {
    flex-basis: 47.15%;
    background-image: url(../img/how-we-work-1-1024.jpg);
  }

  /* questions */
  .questions__container {
    margin-bottom: 81px;
  }

  .questions__title {
    margin-bottom: 29px;
  }

  .questions__item:nth-child(2n) .questions-item__text {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .questions-item__text--last {
    padding-top: 34px;
    padding-bottom: 29px;
  }

  .questions__item:nth-child(2n) .questions-item__icon {
    top: 37px;
  }

  .questions-item__text {
    max-width: 775px;
    font-size: 20px;
  }

  .form {
    padding-left: 0;
  }

  .footer-logo__img {
    margin-right: 10px;
  }
}

@media (max-width: 960px) {
  .footer__container {
    flex-direction: column-reverse;
    padding-left: 50px;
  }

  .footer__logo {
    margin-bottom: 0.8rem;
  }

  .footer__nav {
    display: none;
  }

  .form {
    padding: 0;
    max-width: 540px;
    margin-bottom: 51px;
  }

  .form__title {
    margin-bottom: 1.05rem;
  }

  .form__btn {
    margin-right: 24px;
  }
}
