@media (max-width: 768px) {
  .container {
    padding-left: 50px;
  }

  /* header */
  .header__content {
    padding-top: 9px;
    padding-bottom: 5px;
  }

  /* hero */
  .hero__container {
    margin-bottom: 82px;
  }

  .hero__banner {
    padding: 162px 40px;
    padding-top: 166px;
    background-image: url(../img/hero-1-768.jpg);
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 14px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01rem;
    max-width: 660px;
    margin-bottom: 60px;
  }

  /* about */
  .about__title {
    padding-left: 0;
    margin-bottom: 0.3rem;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about__left {
    min-height: 650px;
  }

  .about-banner {
    padding: 34px 40px;
    padding-bottom: 31px;
  }

  .about-banner__text {
    max-width: 366px;
    margin-right: 15px;
  }

  .about__item {
    align-items: center;
    padding: 34px 40px 33px;
  }

  .about__icon {
    min-width: 114px;
    height: 99px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .about__icon-top {
    background-image: url(../img/aside-1-768.svg);
  }

  .about__icon-bottom {
    background-image: url(../img/aside-2-768.svg);
  }

  .about-text__title {
    letter-spacing: -0.011em;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 84px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  .tab__content {
    flex-direction: column-reverse;
  }

  .tab__descr {
    letter-spacing: normal;
  }

  .tab-content__image {
    background-image: url(../img/how-we-work-1-768.jpg);
    min-height: 284px;
    margin-bottom: 39px;
  }

  /* questions */
  .questions__container {
    margin-bottom: 80px;
  }

  .questions__item:nth-child(2n+3) .questions-item__text {
    padding-top: 32px;
    padding-bottom: 28px;
  }

  .questions-item__text {
    max-width: 575px;
    margin-right: 30px;
  }

  /* footer */
  .footer__container {
    padding-top: 2.53rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
  }

  /* header */
  .header__content {
    padding-top: 17px;
    padding-bottom: 11px;
  }

  .header__logo {
    padding-left: 20px;
  }

  .logo__img {
    margin-right: 4px;
  }

  .logo__descr {
    padding-top: 1px;
  }

  /* hero */
  .hero__container {
    margin-bottom: 61px;
  }

  .hero__banner {
    padding: 61px 22px;
    padding-bottom: 60px;
    justify-content: start;
    align-items: center;
    background-image: url(../img/hero-1-320.jpg);
    min-height: 308px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0.39rem;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.006rem;
    text-align: center;
    margin-bottom: 32px;
  }

  .hero__btn {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.007rem;
    text-align: center;
    padding: 13px 29px 12px 28px;
  }

  /* about */
  .about__container {
    margin-bottom: 60px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .about__left {
    justify-content: start;
    background-image: none;
    min-height: 405px;
    padding: 0;
    margin-bottom: 26px;
  }

  .about-banner {
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    justify-content: start;
    align-items: flex-start;
  }

  .about__img {
    display: block;
    background-image: url(../img/about-320.png);
    min-width: 290px;
    min-height: 200px;
    margin-bottom: 9px;
  }

  .about-banner__text {
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.012rem;
    color: var(--color-text);
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__btn {
    font-size: 12px;
    line-height: 15px;
    color: var(--accent-color);
    padding: 10px 42px 12px 43px;
    border: 2px solid var(--accent-color);
    transition-property: background-color, color, border;
    transition-duration: .2s;
    transition-timing-function: linear;
  }

  .about__btn:hover {
    background-color: var(--accent-color);
    color: var(--color-white);
  }

  .about__btn:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    outline: none;
  }

  .about__btn:active {
    background-color: var(--color-active);
    border: 2px solid var(--color-active);
  }

  .about__list {
    padding: 0;
  }

  .about__item {
    padding: 0;
    flex-direction: column;
    align-items: start;
    border: none;
  }

  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__icon {
    min-width: 64px;
    height: 49px;
    margin-bottom: 13px;
  }

  .about__icon-top {
    background-image: url(../img/aside-1-320.svg);
  }

  .about__icon-bottom {
    background-image: url(../img/aside-2-320.svg);
  }

  .about__text {
    max-width: 100%;
  }

  .about-text__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .about-text__descr {
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 61px;
  }

  .how-we-work__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
  }

  .tabs {
    margin-bottom: 4px;
  }

  .tabs__item:not(:last-child) {
    margin-right: 40px;
  }

  .tabs-item__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .tab-content__left {
    margin-right: 0;
  }

  .tab__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .tab__descr {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.0001rem;
    margin-bottom: 15px;
  }

  .btn__left {
    margin-right: 10px;
    padding-left: 45px;
    padding-right: 2.2em;
  }

  .btn__right {
    padding-left: 32px;
    padding-right: 31px;
  }

  .btn-left__link,
  .btn-right__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding-top: 0.93em;
    padding-bottom: 12px;
    letter-spacing: 0.001rem;
  }

  .btn-right__link {
    font-weight: 400;
    letter-spacing: -0.005rem;
  }

  .tab-content__image {
    background-image: url(../img/how-we-work-1-320.jpg);
    min-height: 160px;
    margin-bottom: 17px;
  }

  /* questions */
  .questions__container {
    margin-bottom: 60px;
  }

  .questions__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .questions-item__text {
    margin-right: 17px;
    padding-top: 31px;
    padding-bottom: 28px;
    max-width: 245px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.005rem;
  }

  .questions__item:nth-child(n+4) .questions-item__text {
    padding-top: 31px;
    padding-bottom: 28px;
  }

  .questions-item__icon {
    width: 30px;
    height: 30px;
    top: 39px;
    right: -1px;
  }

  .questions__item:nth-child(n+2) .questions-item__icon {
    top: 50px;
  }

  .questions__item:last-child .questions-item__icon {
    top: 39px;
  }

  /* footer */
  .footer__container {
    padding-top: 30px;
  }

  .footer__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    max-width: 100%;
  }

  .footer__logo {
    padding-left: 0.08rem;
    margin-bottom: 0.51rem;
  }

  .footer-logo__img {
    margin-right: 5px;
  }

  .footer-logo__descr {
    padding-top: 2px;
  }

  .social__icon {
    width: 40px;
    height: 40px;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .form {
    margin-bottom: 0.81rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #595959;
  }

  .form__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0.98rem;
  }

  .form__edit {
    font-size: 14px;
    line-height: 32px;
    padding: 14px 20px;
  }

  .form__textarea {
    width: 290px;
    margin-bottom: 25px;
  }

  .form__bottom {
    flex-direction: column;
  }

  .form__btn {
    margin-right: 0;
    margin-bottom: 12px;
    padding: 13px 28px 12px;
    font-size: 12px;
    line-height: 15px;
  }
  .form__label {
    padding-top: 0;
  }
}
