@font-face {
  font-family: 'montserrat';
  src: local('montserrat-regular'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: local('montserrat-semibold'),
    url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

font-face {
  font-family: 'montserrat';
  src: local('montserrat-bold'),
    url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: local('montserrat-extrabold'),
    url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'montserrat', sans-serif;
}

/* glob */
:root {
  --color-white: #fff;
  --color-footer-text: #CACACA;
  --color-text: #333;
  --color-text-gray: #666;
  --accent-color: #FF9900;
  --color-hover-btn: #F7B045;
  --color-active: #E1670E;
}

.container {
  width: 100%;
  width: 1920px;
  padding: 0 75px;
  margin-bottom: 103px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-text);
}

.btn {
  cursor: pointer;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--accent-color);
}

/* header */
.header__container {
  margin: 0;
  font-size: 16px;
}

.header__content {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  margin: 0;
}

.header__nav-toggle {
  display: none;
  position: relative;
  border: none;
  padding: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  min-width: 224px;
  margin-right: 85px;
}

.logo__img {
  transform: translateX(-1px);
  margin-right: 11px;
}
.logo__descr {
  padding-top: 3px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  max-width: 150px;
  margin-right: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.097em;
  letter-spacing: 0.005em;
  color: var(--color-text);
  transition: color .2s linear;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 24px;
  width: 100%;
  height: 2px;
  transition: background-color .2s linear;
}

.nav__link:hover::before {
  background-color: var(--accent-color);
}

.nav__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 4px;
}

.nav__link:active {
  outline: none;
  color: var(--color-active);
}

.nav__link:active::before {
  content: '';
  position: absolute;
  top: 24px;
  width: 100%;
  height: 2px;
  background-color: var(--color-active);
}

.header-search__btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  height: 24px;
}

.header-search__btn rect,
.header-search__btn path {
  transition-property: fill, stroke;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.header-search__btn:hover rect {
  fill: var(--accent-color);
}

.header-search__btn:hover path {
  stroke: var(--accent-color);
}

.header-search__btn:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 4px;
}

/* hero */
.hero__banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 80px;
  padding-top: 5.225rem;
  background-image: url(../img/hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 620px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 830px;
  font-weight: 800;
  font-size: 70px;
  line-height: 4.2665rem;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  max-width: 830px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.463rem;
  letter-spacing: 0.012rem;
  color: var(--color-white);
  margin-bottom: 88px;
}

.hero__btn {
  max-width: 830px;
  padding-top: 26px;
  padding-bottom: 22px;
  padding-right: 37px;
  padding-left: 37px;
  font-size: 1.17rem;
  letter-spacing: 0.015rem;
  line-height: 30px;
  border: none;
  transition: background-color .2s linear;
}

.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  outline: none;
}

.hero__btn:active {
  background-color: var(--color-active);
}

/* about */
.about__title {
  padding-left: 2px;
  margin-bottom: 0.91rem;
}

.about__descr {
  max-width: 1235px;
  font-size: 16px;
  line-height: 1.6rem;
  color: var(--color-text);
  margin-bottom: 49px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__left {
  flex-basis: 49.05%;
  min-height: 622px;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__list {
  flex-basis: 49.15%;
  display: flex;
  flex-direction: column;
}

.about-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 196px;
  padding: 50px;
  padding-top: 51px;
  padding-bottom: 48px;
}

.about__img {
  display: none;
}

.about-banner__text {
  max-width: 450px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6rem;
  letter-spacing: 0.007rem;
  color: var(--color-white);
}

.about__btn {
  max-width: 300px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  margin-bottom: 3px;
  transition-property: background-color, border;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.about__btn:hover {
  background-color: var(--accent-color);
}

.about__btn:focus {
  background-color: var(--accent-color);
  outline: none;
}

.about__btn:active {
  background-color: var(--color-active);
  border: 3px solid var(--color-active);
}

.about__item {
  flex-basis: 50%;
  padding: 64px 59px 62px;
  border: 1px solid var(--color-footer-text);
  display: flex;
}

.about__item:not(:last-child) {
  margin-bottom: 32px;
}

.about__icon {
  min-width: 190px;
  height: 165px;
  margin-right: 50px;
  background-repeat: no-repeat;
}

.about__icon-top {
  background-image: url(../img/aside-1.svg);
}

.about__icon-bottom {
  background-image: url(../img/aside-2.svg);
}

.about__text {
  max-width: 500px;
}

.about-text__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.012em;
  color: var(--color-text);
}

.about-text__descr {
  max-width: 450px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

/* how-we-work */
.how-we-work__title {
  margin-bottom: 46px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.tabs__item:not(:last-child) {
  margin-right: 86px;
}

.tabs__item, .tabs-item__btn {
  max-width: 150px;
}

.tabs-item__btn {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text);
  transition: color .2s linear;
}

.tabs-item__btn:hover {
  color: var(--accent-color);
}

.tabs-item__btn:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
}

.tabs-item__btn:active {
  color: var(--color-active);
  outline: none;
}

.tab__content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.tab-content__left {
  flex-basis: 49.05%;
  min-height: 460px;
  margin-right: 10px;
}

.tab__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: var(--color-text);
}

.tab__descr {
  max-width: 758px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
  margin-bottom: 49px;
}

.tab-content__image {
  flex-basis: 49.15%;
  min-height: 460px;
  background-image: url(../img/how-we-work-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 9px;
}

.tab__btns {
  display: flex;
  text-align: center;

}

.btn-left__link,
.btn-right__link {
  display: inline-block;
  max-width: 250px;
  padding-top: 1.27em;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 20px;
}

.btn-left__link {
  letter-spacing: -0.011em;
}

.btn-right__link {
  letter-spacing: 0.002em;
}

.btn__left {
  margin-right: 32px;
  font-weight: 700;
  border: none;
  padding-left: 38px;
  padding-right: 1.94em;
  transition: background-color .2s linear;
}

.btn__left:hover {
  background-color: var(--color-hover-btn);
}

.btn__left:focus {
  background-color: var(--color-hover-btn);
  outline: none;
}

.btn__left:active {
  background-color: var(--color-active);
}

.btn__right {
  font-weight: 400;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  background-color: transparent;
  padding: 0 37px;
  transition-property: background-color, color, border;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.btn__right:hover {
  background-color: var(--color-text-gray);
  color: var(--color-white);
  border-color: var(--color-text-gray);
}

.btn__right:focus {
  background-color: var(--color-text-gray);
  color: var(--color-white);
  border-color: var(--color-text-gray);
  outline: none;
}

.btn__right:active {
  background-color: #000;
  border-color: #000;
}

/* questions */
.questions__container {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 40px;
}

.questions__item {
  position: relative;
  border-top: 1px solid var(--color-footer-text);
  border-bottom: 1px solid transparent;
  transition: border .2s linear;
}

.questions__item:last-child {
  border-bottom: 1px solid var(--color-footer-text);
}

.questions-item__title {
  display: flex;
  margin: 0;
  max-width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.011em;
  color: var(--color-text);
  padding: 41px 75px 36px 0;
  transition: color .2s linear;
}

.questions-item__title--last {
  padding-bottom: 37px;
}

.questions-item__text {}

.questions-item__icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.questions__item ellipse,
.questions__item path {
  transition: fill .2s linear;
}

/* questions:hover */
.questions__item:hover {
  border-top: 1px solid var(--accent-color);
}

.questions__item:hover + .questions__item {
  border-top: 1px solid var(--accent-color);
}

.questions__item:hover:last-child {
  border-bottom: 1px solid var(--accent-color);
}

.questions__item:hover .questions-item__title {
  color: var(--accent-color);
}

.questions__item:hover ellipse {
  fill: var(--accent-color);
}

.questions__item:hover path {
  fill: var(--color-white);
}

/* questions:focus */
.questions__item:focus {
  border-top: 1px solid var(--accent-color);
}

.questions__item:focus + .questions__item {
  border-top: 1px solid var(--accent-color);
}

.questions__item:focus:last-child {
  border-bottom: 1px solid var(--accent-color);
}

.questions__item:focus .questions-item__title {
  color: var(--accent-color);
}

.questions__item:focus ellipse {
  fill: var(--accent-color);
}

.questions__item:focus path {
  fill: var(--color-white);
}

/* questions:active */
.questions__item:active {
  border-top: 1px solid var(--color-footer-text);
}

.questions__item:active + .questions__item {
  border-top: 1px solid var(--color-footer-text);
}

.questions__item:active:last-child {
  border-bottom: 1px solid var(--color-footer-text);
}

.questions__item:active .questions-item__title {
  color: var(--color-text);
}

.questions__item:active ellipse {
  fill: #ECECEC;
}

.questions__item:active path {
  fill: var(--color-text-gray);
}

.questions__item:active .questions-item__icon {
  transition: .2s linear;
}

.questions__item:active .questions-item__icon {
  transform: rotate(45deg);
}

/* footer */
.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 2.47rem 75px;
  margin: 0;
}

.footer__left {
  flex-shrink: 0;
  max-width: 30%;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.07rem;
}

.footer__nav {
  margin-bottom: 89px;
}

.footer__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-footer-text);
  transition: color .2s linear;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 150%;
  outline: 2px solid var(--accent-color);
  outline-offset: 3px;
}

.footer__link:active {
  outline: none;
  color: var(--color-active);
}

.footer__link:active::before {
  outline: none;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link path {
  transition: fill .2s linear;
}

.social__link:hover path {
  fill: var(--accent-color);
}

.social__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
}

.social__link:active {
  outline: none;
}

.social__link:active path {
  fill: var(--color-active);
}

.footer__canter {
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  margin-right: 5px;
  max-width: 690px;
}

.form__title {
  max-width: 570px;
  color: var(--color-footer-text);
  padding-top: 4px;
  margin-bottom: 1.09rem;
}

.form__edit::placeholder {
  color: var(--color-footer-text);
}

.form__edit  {
  border: none;
  outline: none;
  background-color: #414141;
  border: none;
  outline: none;
  padding: 15px 24px 13px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: background-color .2s linear;
}

.form__edit:hover {
  background-color: var(--color-text-gray);
}

.form__edit:focus {
  background-color: var(--color-text-gray);
}

.form__edit:active {
  background-color: var(--color-text-gray);
}

.form__input:not(:last-child) {
  margin-bottom: 25px;
}

.form__textarea {
  width: 570px;
  height: 150px;
  resize: none;
  background: #414141;
  margin-bottom: 32px;
}

.form__bottom {
  display: flex;
  align-items: center;
}

.form__btn {
  max-width: 270px;
  border: none;
  padding: 20px 52px 18px;
  margin-right: 22px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  transition: background-color .2s linear;
}

.form__btn:hover {
  background-color: var(--color-hover-btn);
}

.form__btn:focus {
  background-color: var(--color-hover-btn);
  outline: none;
}

.form__btn:active {
  background-color: var(--color-active);
}

.form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
}

.label__checkbox {
  margin-right: 5px;
}

.form__subscr {
  display: inline-block;
  max-width: 260px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-footer-text);
}

.footer__right {
  flex-shrink: 0;
  padding-top: 89px;
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-footer-text);
}

/* media */
@media (min-width: 1921px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1800px) {
  .about__left {
    flex-basis: 62%;
    margin-right: 10px;
  }

  .about__list {
    flex-basis: 38%;
  }

  .about__item {
    flex-direction: column;
  }

  .about__icon {
    margin-bottom: 15px;
  }

  .form {
    padding-left: 20px;
  }
}

@media(max-width: 1400px) {
  .container {
    padding-left: 49px;
    padding-right: 50px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__left {
    margin-right: 0;
  }

  .about__item {
    flex-direction: row;
  }

  .about__text,
  .about-text__descr {
    max-width: 92%;
  }

  .footer__right {
    padding-left: 10px;
  }

  .footer-logo__img {
    margin-right: 11px;
  }

  .form {
    max-width: 550px;
    padding-left: 5px;
  }

  .form__title {
    margin-bottom: 1.14rem;
  }

  .form__textarea {
    width: 540px;
  }

  .form__btn {
    padding: 20px 37px 17px;
  }
}

@media (max-width: 1280px) {
  .header__logo {
    margin-right: 35px;
  }

  .nav__item {
    margin-right: 45px;
  }

  .form {
    padding-left: 20px;
    margin-right: 0;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1024px) {
  /* header */
  .header__content {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .header__nav-toggle,
  .header__right {
    display: block;
  }

  .header__right {
    margin-top: 1px;
  }

  .header__logo {
    min-width: 154px;
    margin: 0;
  }

  .logo__img {
    margin-right: 6px;
  }

  .header__nav {
    display: none;
  }

  /* hero */
  .hero__container {
    margin-bottom: 82px;
  }

  .hero__banner {
    padding: 163px 78px;
    padding-top: 164px;
    padding-bottom: 161px;
    background-image: url(../img/hero-1-medium.jpg);
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 15px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01rem;
    max-width: 660px;
    margin-bottom: 58px;
  }

  /* about */
  .about__container {
    margin-bottom: 84px;
  }

  .about__title {
    margin-bottom: 0.4rem;
  }

  .about__descr {
    margin-bottom: 62px;
  }

  .about__left {
    background-image: url(../img/about-medium.jpg);
    min-height: 640px;
    margin-bottom: 32px;
  }

  .about__item {
    padding-left: 77px;
    padding-bottom: 49px;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 84px;
  }

  .tabs {
    margin-bottom: 52px;
  }

  .tab-content__left {
    flex-basis: 47.05%;
  }

  .tab__descr {
    letter-spacing: 0.002rem;
    margin-bottom: 23px;
  }

  .tab-content__image {
    flex-basis: 47.15%;
    background-image: url(../img/how-we-work-1-medium.jpg);
  }

  /* questions */
  .questions__container {
    margin-bottom: 80px;
  }

  .questions__title {
    margin-bottom: 29px;
  }

  .questions-item__title {
    max-width: 850px;
    font-size: 20px;
  }

  .questions__item:nth-child(2n) .questions-item__title {
    padding: 33px 75px 26px 0;
  }
}

@media (max-width: 960px) {
  .footer__container {
    flex-direction: column-reverse;
    padding-left: 50px;
  }

  .footer__logo {
    margin-bottom: 0.8rem;
  }

  .footer__nav {
    display: none;
  }

  .form {
    padding: 0;
    max-width: 540px;
    margin-bottom: 51px;
  }

  .form__title {
    margin-bottom: 1.05rem;
  }

  .form__btn {
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  /* header */
  .header__content {
    padding-top: 26px;
    padding-bottom: 4px;
  }

  /* hero */
  .hero__container {
    margin-bottom: 82px;
  }

  .hero__banner {
    padding: 162px 40px;
    padding-top: 166px;
    background-image: url(../img/hero-1-small.jpg);
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 14px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01rem;
    max-width: 660px;
    margin-bottom: 60px;
  }

  /* about */
  .about__title {
    margin-bottom: 0.38rem;
  }

  .about__descr {
    margin-bottom: 59px;
  }

  .about__left {
    min-height: 650px;
  }

  .about-banner {
    padding: 34px 40px;
    padding-bottom: 31px;
  }

  .about-banner__text {
    max-width: 366px;
    margin-right: 15px;
  }

  .about__item {
    align-items: center;
    padding: 34px 40px 33px;
  }

  .about__icon {
    min-width: 114px;
    height: 99px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .about__icon-top {
    background-image: url(../img/aside-1-medium.svg);
  }

  .about__icon-bottom {
    background-image: url(../img/aside-2-medium.svg);
  }

  .about-text__title {
    letter-spacing: -0.01em;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 86px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  .tab__content {
    flex-direction: column-reverse;
  }

  .tab-content__image {
    background-image: url(../img/how-we-work-1-small.jpg);
    min-height: 284px;
    margin-bottom: 39px;
  }

  /* questions */
  .questions__container {
    margin-bottom: 84px;
  }

  .questions__item:nth-child(2n+3) .questions-item__title {
    padding: 32px 100px 26px 0;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  /* header */
  .header__content {
    padding-top: 17px;
    padding-bottom: 11px;
  }

  .header__logo {
    padding-left: 20px;
  }

  .logo__img {
    margin-right: 4px;
  }

  .logo__descr {
    padding-top: 1px;
  }

  /* hero */
  .hero__container {
    margin-bottom: 61px;
  }

  .hero__banner {
    padding: 61px 22px;
    padding-bottom: 60px;
    justify-content: start;
    align-items: center;
    background-image: url(../img/hero-1-extra-small.jpg);
    min-height: 308px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0.39rem;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.006rem;
    text-align: center;
    margin-bottom: 32px;
  }

  .hero__btn {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.007rem;
    text-align: center;
    padding: 13px 29px 12px 28px;
  }

  /* about */
  .about__container {
    margin-bottom: 60px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .about__left {
    justify-content: start;
    background-image: none;
    min-height: 405px;
    padding: 0;
    margin-bottom: 26px;
  }

  .about-banner {
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    justify-content: start;
    align-items: flex-start;
  }

  .about__img {
    display: block;
    background-image: url(../img/about-small.png);
    min-width: 290px;
    min-height: 200px;
    margin-bottom: 9px;
  }

  .about-banner__text {
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.012rem;
    color: var(--color-text);
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about__btn {
    font-size: 12px;
    line-height: 15px;
    color: var(--accent-color);
    padding: 10px 42px 12px 43px;
    border: 2px solid var(--accent-color);
    transition-property: background-color, color, border;
    transition-duration: .2s;
    transition-timing-function: linear;
  }

  .about__btn:hover {
    background-color: var(--accent-color);
    color: var(--color-white);
  }

  .about__btn:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    outline: none;
  }

  .about__btn:active {
    background-color: var(--color-active);
    border: 2px solid var(--color-active);
  }

  .about__list {
    padding: 0;
  }

  .about__item {
    padding: 0;
    flex-direction: column;
    align-items: start;
    border: none;
  }

  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__icon {
    min-width: 64px;
    height: 49px;
    margin-bottom: 13px;
  }

  .about__icon-top {
    background-image: url(../img/aside-1-small.svg);
  }

  .about__icon-bottom {
    background-image: url(../img/aside-2-small.svg);
  }

  .about__text {
    max-width: 100%;
  }

  .about-text__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .about-text__descr {
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  /* how we work */
  .how-we-work__container {
    margin-bottom: 61px;
  }

  .how-we-work__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
  }

  .tabs {
    margin-bottom: 4px;
  }

  .tabs__item:not(:last-child) {
    margin-right: 40px;
  }

  .tabs-item__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .tab-content__left {
    margin-right: 0;
  }

  .tab__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .tab__descr {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.0001rem;
    margin-bottom: 15px;
  }

  .btn__left {
    margin-right: 10px;
    padding-left: 45px;
    padding-right: 2.2em;
  }

  .btn__right {
    padding-left: 32px;
    padding-right: 31px;
  }

  .btn-left__link,
  .btn-right__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding-top: 0.93em;
    padding-bottom: 12px;
    letter-spacing: 0.001rem;
  }

  .btn-right__link {
    font-weight: 400;
    letter-spacing: -0.005rem;
  }

  .tab-content__image {
    background-image: url(../img/how-we-work-1-extra-small.jpg);
    min-height: 160px;
    margin-bottom: 17px;
  }

  .questions__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .questions-item__title {
    padding-top: 31px;
    padding-bottom: 28px;
    padding-right: 17px;
  }

  .questions-item__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.007rem;
  }

  .questions-item__icon {
    width: 30px;
    height: 30px;
    margin-top: 0;
  }
}
